<?xml version="1.0"?>
<server>
    <!-- By default, we make all interfaces available -->
    <ip>0.0.0.0</ip>
    
    <!-- We save the port, but here's a way to override the default -->
    <port>9999</port>
    
    <!-- Seconds for browser cache life -->
    <cache_life>3600</cache_life>

    <!-- Folder containing tile map -->
    <tilemap>client/ground</tilemap>
    
    <!-- A list of resources to make available through http -->
    <resources>
        <file path="client/">client.html</file>     <!-- Client page -->
        <file path="client/">404.html</file>        <!-- Not found page -->
        <file path="client/">404multi.html</file>   <!-- Trying to load multiple times -->
        <file path="client/">favicon.png</file>     <!-- A page icon -->
        <file path="client/">favicon.ico</file>
        <file path="client/">crunch.mp3</file>      <!-- The crunch noise -->
        <file path="client/">silent.mp3</file>      <!-- A silent sample to play when first input happens -->
    </resources>
    
    <Client_Parameters>
        <!-- Title on app client -->
        <TITLE>APP CLIENT</TITLE>
        
        <!-- How much inactivity until we drop a connection (ms) -->
        <MS_REASONABLE_INVISIBILITY>15000</MS_REASONABLE_INVISIBILITY>
        
        <!-- The ID of our silent MP3 -->
        <SILENT_MP3>silent.mp3</SILENT_MP3>

        <!-- How often to check render depth (ms) -->
        <PING_FREQUENCY>200</PING_FREQUENCY>
        
        <!-- Tile data settings -->
        <TILE_WIDE>50</TILE_WIDE>
        <TILE_HIGH>50</TILE_HIGH>

        <!-- Each client gets a ARENA_SIZExARENA_SIZE space, and displays a window within it, according to its own shape -->
        <ARENA_SIZE>384</ARENA_SIZE>
        
        <!-- Client sends requests, receives XML data back, which is basically the same content as the WebSocket data, wrapped in XML -->
        <LONG_POLL_XML>longpoll.txt</LONG_POLL_XML>
        
    </Client_Parameters>

</server>
